OICNP_CONFIG=./configs/app.yml
DATABASE_URL=postgres://postgres:123456@localhost:5432/oicnp
BLOG_BASE=/home/work/xxx
REDIS_URL=redis://127.0.0.1:6381
WEB_ASSETS_DIR=./apps/dist

POETRY_DB=postgres://aqrun:123456@localhost:5432/poetry
POETRY_DIR=/Volumes/mac_data/workspace/github.com/chinese-poetry/gitee-poetry/