<div class="side-nav-container w-full relative lg:sticky lg:top-20 lg:w-[200px] lg:min-w-[200px] lg:max-h-[400px] bg-white text-base text-[var(--text-color)]">
  <ul
    class="side-nav-list flex flex-row lg:flex lg:flex-col flex-wrap"
  >
    {% for item in categories %}
      <li
        class="side-nav-item {% if item.vid == active_vid %}active{% endif %}"
      >
        <a
          href="{{ item.href }}"
          class="side-nav-link block px-[17px] py-[10px] rounded-[4px] cursor-pointer
            lg:border-l-[3px] lg:border-solid lg:border-transparent lg:rounded-l-none
            hover:text-[var(--primary)] hover:bg-[var(--color-very-light-purple)] hover:font-medium"
        >
          <span class="item-name">
            {{ item.name }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>