@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  font-size: 12px;
  @apply min-h-screen overflow-hidden;
}

.main-height {
  height: calc(100vh - 4rem);
}

.dropdown:hover .dropdown-content {
  @apply block;
}

.breadcrumb-li:before {
  color: #b5b5b5;
  content: "/";
}
.breadcrumb-li:first-child:before {
  content: none;
}
.breadcrumb-li:first-child a {
  padding-left: 0;
}
.breadcrumb-li:last-child a {
  @apply cursor-default text-gray-600;
}
.breadcrumb-li:last-child a:hover {
  @apply text-gray-600;
}
