{% import "macros/main-macros.html" as main %}
{% import "macros/blog-macros.html" as blog_macros %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}灵犀纪{% endblock %}</title>
    <link rel="shortcut icon" href="/public/favicon/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "widgets/dom-loading.html" %}
    {% block content %}{% endblock %}
    
    {% block scripts %}{% endblock %}
  </body>
</html>