{% extends "base.html" %}

{% block title %}{% if title.is_some() %}{{ title.as_ref().unwrap() }}{% else %}文章详情{% endif %} - 灵犀纪{% endblock %}

{% block head %}
<meta name="description" content="{{ summary }}">
{{ assets.css|safe }}
{% endblock %}

{% block content %}
<main>
  <!-- Header -->
  <section class="oic-header-section mb-6 overflow-hidden transition-colors duration-500 lg:z-50 shadow-md shadow-indigo-100/[0.6] dark:shadow-slate-100/[0.6] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent">
    <div class="oic-header-inner h-auto w-screen">
      <nav class="font-inter mx-auto h-auto w-full max-w-[1600px] lg:relative lg:top-0">
        <div class="relative px-6 py-6 items-center lg:flex lg:items-center lg:justify-between lg:px-10 lg:py-4 xl:px-20">
          <a href="/" aria-current="page" class="relative bg-[#00000000] no-underline hover:outline-0 max-[991px]:mr-auto max-[767px]:pl-0 text-xl lg:text-2xl font-bold text-gray-800 flex items-center hover:text-[var(--primary)]" aria-label="home">
            <span class="inline-block max-h-7 max-w-full h-11" style="fill: currentColor;">
              <svg height="32" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" fill="currentColor">
                <g transform="scale(1,-1) translate(0,-500)">
                  <path d="M 1.235852 486.524607 L 337.874486 486.524607 L 283.577932 374.311729 L 500.764148 1.475393 L 149.646433 1.475393 L 211.182527 110.068500 Z" transform="scale(1.000000,1.000000) translate(-1.000000,6.000000)" opacity="1.000000"></path>
                  <path d="M 114.926122 211.338204 L 145.162852 157.004964 L 61.602733 1.475393 L 1.235852 1.475393 Z" transform="scale(1.000000,1.000000) translate(-1.000000,6.000000)" opacity="1.000000"></path>
                  <path d="M 86.144257 210.524607 L 1.203135 55.144015 L 31.166850 1.913660 L 145.764148 210.524607 Z" transform="scale(1.000000,1.000000) translate(354.000000,282.000000)" opacity="1.000000"></path>
                </g>
              </svg>
            </span>
            <span class="flex flex-col ml-1 min-w-24">
              <span>灵犀纪</span>
            </span>
          </a>
          <div class="hidden lg:block">
            <div class="mt-14 flex flex-col lg:mt-0 lg:flex lg:flex-row lg:space-x-1 lg:space-y-0">
              <a href="/" class="header-nav-item item-home py-4 font-inter text-center rounded-lg text-black lg:px-6 lg:py-4 hover:bg-gray-50 lg:hover:text-gray-800">首页</a>
              <a href="/tool/" class="header-nav-item item-tool py-4 font-inter text-center rounded-lg text-black lg:px-6 lg:py-4 hover:bg-gray-50 lg:hover:text-gray-800">常用工具</a>
              <a href="/poetry/" class="header-nav-item item-poetry py-4 font-inter text-center rounded-lg text-black lg:px-6 lg:py-4 hover:bg-gray-50 lg:hover:text-gray-800">诗词鉴赏</a>
              <a href="/blog/" class="header-nav-item item-blog py-4 font-inter text-center rounded-lg text-black lg:px-6 lg:py-4 hover:bg-gray-50 lg:hover:text-gray-800 active">IT技术</a>
              <a href="/cat/rust/" class="header-nav-item item-rust py-4 font-inter text-center rounded-lg text-black lg:px-6 lg:py-4 hover:bg-gray-50 lg:hover:text-gray-800">Rust语言</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- Article Detail -->
  <section class="bg-white">
    <div class="layout py-12">
      <div class="flex flex-1 flex-col overflow-auto">
        {% if title.is_some() %}
        <h1 class="text-[1.8rem] lg:text-[2.67rem] mb-[1.3rem] text-slate-800 lg:leading-[2.67rem] lg:text-center">
          {{ title.as_ref().unwrap() }}
        </h1>
        <div class="node-metas mb-10 text-gray-400 lg:text-center">
          {% if category_name.is_some() %}
          <a href="/cat/{{ category_vid.as_ref().unwrap_or(&"".to_string()) }}">
            <i class="iconfont icon-benshubook122 mr-1"></i>
            {{ category_name.as_ref().unwrap() }}
          </a>
          {% endif %}
          {% if created_at.is_some() %}
          <span class="ml-4">
            <i class="iconfont icon-date mr-1"></i>
            {{ created_at.as_ref().unwrap() }}
          </span>
          {% endif %}
        </div>
        {% endif %}
        <article class="oic-article-detail prose lg:prose-p max-w-full break-words">
          {{ content|safe }}
        </article>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="oic-page-footer overflow-x-hidden">
    <div class="w-screen flex-col px-6 pt-20 pb-8 text-slate-700 lg:flex lg:px-10 xl:px-24 border-solid border border-gray-200">
      <div class="layout lg:flex lg:flex-row lg:justify-between">
        <div>
          <a href="/" class="inline-block max-w-full font-bold text-2xl">灵犀纪</a>
        </div>
      </div>
      <div class="layout mx-auto mt-12 mb-8 w-full border border-[#E4E4E7]"></div>
      <div class="layout">
        <p class="font-inter lg:text-center text-sm text-gray-500">
          © Copyright 2014&nbsp;-&nbsp;2024 &nbsp;灵犀纪
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ assets.js|safe }}
{% endblock %}

