{% extends "./layout.html" %}
{% import "macros/blog-macros.html" as blog_macros %}

{% block title %}联系我|灵犀纪-心有灵犀，专注技术分享{% endblock %}

{% block head %}
  <meta name="description" content="灵犀纪,诗词鉴赏,古诗词,唐诗,宋词,诗经,楚辞">
  
  {% for css_file in assets.css_files %}
    <link rel="stylesheet" href="{{ css_file }}" />
  {% endfor %}
{% endblock %}

{% block page_hero %}
{{ blog_macros::page_hero(
  id = "blog-hero",
  title = "联系我",
  description = "愿你我在此相遇，共同编织一段技术之旅。",
  bg_image = "/public/images/heros/about.png"
) }}
{% endblock %}

{% block content %}
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">联系我</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">遇到技术问题？想对功能提建议？或有合作意向？欢迎留言。</p>
        <form action="#" class="space-y-8">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">您的邮箱</label>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" placeholder="name@example.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">主题</label>
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500 dark:shadow-sm-light" placeholder="请简要说明您想咨询或反馈的内容" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">留言内容</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500" placeholder="在此输入您的留言..."></textarea>
            </div>
            <button type="submit" class="cursor-pointer py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-purple-700 sm:w-fit hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">发送</button>
        </form>
    </div>
  </section>
{% endblock %}

{% block sidebar %}
  {% for widget in side_widgets %}
    {{ widget | safe }}
  {% endfor %}
{% endblock %}

{% block scripts %}
{% for js_file in assets.js_files %}
<script type="module" src="{{ js_file }}"></script>
{% endfor %}
{% endblock %}
