{% import "macros/main-macros.html" as main %}
{% import "macros/blog-macros.html" as blog_macros %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}灵犀纪{% endblock %}</title>
    <link rel="shortcut icon" href="/public/favicon/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
    <script src="/public/vendor/alpine-focus.min.js" defer></script>
    <script src="/public/vendor/alpine.js" defer></script>
    <script src="/public/vendor/htmx.min.js" defer></script>
  </head>
  <body>
    <main>
      {{ main::header(menu_vid) }}
      {# 首页内容布局 #}
      {% block layout_content %}{% endblock %}
      
      <!-- Article List -->
      <section class="bg-white">
        <div class="layout">
          {% block page_hero %}{% endblock %}

          <div class="flex lg:flex-row flex-col gap-4 mb-8">
            {% if has_sidebar_left %}
              <aside class="w-full shrink-0 lg:w-[200px] lg:min-w-[200px]">
                {% block sidebar_left %}{% endblock %}
              </aside>
            {% endif %}

            <div class="home-layout-content-w flex flex-col {% if has_sidebar_left %}has-sidebar-left{% endif %}">
              {% block content %}{% endblock %}
            </div>
            
            <aside class="lg:w-80 lg:min-w-80">
              <!-- Sidebar placeholder -->
              {% block sidebar %}{% endblock %}
            </aside>
          </div>
        </div>
      </section>
    
      {{ main::footer() }}
    </main>
    
    {% block scripts %}{% endblock %}
  </body>
</html>