host: 0.0.0.0
port: 9003
public_dir: ./apps/web-app/dist
default_cache_seconds: 3600
dev_cache_seconds: 1
api_url: http://localhost:5150
handler_cache_time: 1 # 60 * 60 * 2;

site:
  title: "灵犀纪"
  slogan: "心有灵犀，专注技术分享"
  description: "灵犀纪,rust语言开发,服务器,html,css,js,nextjs,tailwindcss"
  keywords: "灵犀纪,rust语言开发,服务器,html,css,js,nextjs,tailwindcss"
  url: "http://localhost:3000"
  menus:
    - name: "首页"
      vid: "home"
      href: "/"
    - name: "常用工具"
      vid: "tool"
      href: "/tool"
    - name: "诗词鉴赏"
      vid: "poetry"
      href: "/poetry"
    - name: "IT技术"
      vid: "blog"
      href: "/blog"
    - name: "Rust语言"
      vid: "rust"
      href: "/rust"
